@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CORES PRIMÁRIAS */
  --color-primary-teal: #7FBBD0;
  --color-primary-coral: #B16850;

  /* CORES SECUNDÁRIAS */
  --color-secondary-beige: #FDF1E0;
  --color-secondary-brown: #8A4E3B;
  --color-secondary-teal-dark: #165979;

  /* NEUTROS */
  --color-white: #FFFFFF;
  --color-off-white: #FFFFFF; /* Modificado para refletir um estilo mais claro */
  --color-dark: #333333;
  --color-gray-soft: #949494;
}

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply bg-maya-off-white text-maya-dark font-roboto;
  }
}

/* Focus visível para acessibilidade */
@layer utilities {
  .focus-maya {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-maya-teal focus-visible:ring-offset-2;
  }
}
